@{
    ViewData["Title"] = "Home Page";
}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<div class="text-center">
    <form>
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        <input type="text" name="name" value="" placeholder="输入name"/>
        <input type="text" name="area" value="" placeholder="输入地址"/>
        <input type="submit" name="sub" value="表单提交"/>
    </form>
</div>
<script>
    // 获取生成的token，直接这样写也是可以的
    function gettoken() {
      var token = '@Html.AntiForgeryToken()';
      return $(token).val();
    }

    var token = $('[name=__RequestVerificationToken]')[0].value;
    
    $("form").submit(function () {
        $.ajax({
            url: "",
            type: 'post',
           /*__RequestVerificationToken放在请求头中，是没有效果的，是必须作为参数传递的*/
           //beforeSend: function (XMLHttpRequest) {  
           // XMLHttpRequest.setRequestHeader("__RequestVerificationToken", gettoken());
           //},
            data: $("form").serializeArray() ,
            dataType: 'json',
            success: function (res) {
                alert(res);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
        return false;
    });

    
    
</script>