@{
    ViewBag.Title = "Jwtdemo";
    Layout = "_Layout";
}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<button onclick="gettoken()">获取token</button>

<button onclick="val()">验证</button>

<script>
var token='';
var gettoken = function () {
    $.ajax({
     url:'/default/GetJwt',
     type:'get', 
     success:function(res){
         var add=JSON.parse(res);
         token=add.token;
     }
   });
};
function val(){
  $.ajax({
     url:'/default/lk',
     type: "Post",
     contentType:'application/x-www-form-urlencoded; charset=UTF-8',
     headers: { "Authorization": 'Bearer ' + token },
     data:{name:"小伟",age:"99"},
     success:function(res){
         alert(res);
     }
  });    
}
</script>